CONFIG VCCAUX = "3.3" ;

CONFIG ENABLE_SUSPEND = "FILTERED" ;

CONFIG POST_CRC = "DISABLE" ;

NET "CLK_50M"       LOC = "E12"  | IOSTANDARD = LVCMOS33 | PERIOD = 20.000 ;
OFFSET = IN  10.000 VALID 20.000 BEFORE "CLK_50M" ;
OFFSET = OUT 20.000 AFTER "CLK_50M" ;

NET "LED<0>"        LOC = "R20"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED<1>"        LOC = "T19"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED<2>"        LOC = "U20"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED<3>"        LOC = "U19"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED<4>"        LOC = "V19"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED<5>"        LOC = "V20"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED<6>"        LOC = "Y22"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED<7>"        LOC = "W21"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

#NET "BTN_EAST"      LOC = "T16"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
#NET "BTN_NORTH"     LOC = "T14"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
#NET "BTN_SOUTH"     LOC = "T15"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
#NET "BTN_WEST"      LOC = "U15"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;

#NET "ROT_CENTER"    LOC = "R13"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
#NET "ROT_A"         LOC = "T13"  | IOSTANDARD = LVCMOS33 | PULLUP ;
#NET "ROT_B"         LOC = "R14"  | IOSTANDARD = LVCMOS33 | PULLUP ;

#NET "SW<0>"         LOC = "V8"   | IOSTANDARD = LVCMOS33 ;
#NET "SW<1>"         LOC = "U10"  | IOSTANDARD = LVCMOS33 ;
#NET "SW<2>"         LOC = "U8"   | IOSTANDARD = LVCMOS33 ;
#NET "SW<3>"         LOC = "T9"   | IOSTANDARD = LVCMOS33 ;

NET "RS232_DCE_RXD" LOC = "E16"  | IOSTANDARD = LVCMOS33 ;
NET "RS232_DCE_TXD" LOC = "F15"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

#NET "RS232_DTE_RXD" LOC = "F16"  | IOSTANDARD = LVCMOS33 ;
#NET "RS232_DTE_TXD" LOC = "E15"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
 
NET "E_TX_CLK"      LOC = "E11"  | IOSTANDARD = LVCMOS33 | PERIOD = 40.000 ;
OFFSET = IN   5.000 VALID 10.000 BEFORE "E_TX_CLK" ;
OFFSET = OUT 10.000 AFTER "E_TX_CLK" ;

NET "E_RX_CLK"      LOC = "C12"  | IOSTANDARD = LVCMOS33 | PERIOD = 40.000 ;
OFFSET = IN   5.000 VALID 10.000 BEFORE "E_RX_CLK" ;
OFFSET = OUT 10.000 AFTER "E_RX_CLK" ;

NET "E_NRST"        LOC = "D15"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "E_MDC"         LOC = "D10"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "E_MDIO"        LOC = "E10"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

NET "E_TXD<0>"      LOC = "F8"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "E_TXD<1>"      LOC = "E7"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "E_TXD<2>"      LOC = "E6"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "E_TXD<3>"      LOC = "F7"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "E_TX_EN"       LOC = "D8"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;

NET "E_RXD<0>"      LOC = "G7"   | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "E_RXD<1>"      LOC = "G8"   | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "E_RXD<2>"      LOC = "G9"   | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "E_RXD<3>"      LOC = "H9"   | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "E_RX_DV"       LOC = "H10"  | IOSTANDARD = LVCMOS33 ;

NET "E_RX_ERR"      LOC = "G10"  | IOSTANDARD = LVCMOS33 ;
#NET "E_NINT"        LOC = "B2"   | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "E_CRS"         LOC = "H12"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "E_COL"         LOC = "G12"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
